// Every page should have a class on the body
// Scope that in each file at the start
//Just to test
#main{
	.home-content{
		display:none;
	}
	.main-holder{
		#content {
			position: relative;
			padding: 0 22px 0 22px;
			.gallery {
				margin: 0 0 15px;
				position: relative;
				width: 100%;
			}
			.gallery .gallery-frame {
				position: relative;
                width: 100%;
				overflow: hidden;
			}
			.gallery .gallery-frame ul {
				position: relative;
				overflow: hidden;
                li {
                    img {
                        width: 100%;
                        margin: 0 auto;
                    }
                }

			}
			.gallery .link-prev, .gallery .link-next {
				cursor: pointer;
			}
			.gallery .link-next, .gallery .link-prev {
				position: absolute;
				z-index: 10;
				top: 184px;
				width: 38px;
				height: 60px;
			}
			.gallery .link-next {
				right: -8px;
			}
		}
		#sidebar{
			margin-top:1%;
			width:100%;
			#tab-1 .label-2{
				width:51%;
			}
			.box-form .col,.box-form input, .box-form .selectArea, .box-form label{
				float: left;
			}
			.box-form .third-col{
				float:none;
			}
			.box-form .radioArea, .box-form .radioAreaChecked, .box-form .checkboxArea, .box-form .checkboxAreaChecked {
				margin: 6px 4px 0 0;
			}
			.box-form .date, .Tx-Formhandler .date, #servicepanel .date, .tx-srfeuserregister-pi1 .date, .tt-products .date {
				border: none;
				margin: 0 0 0 0;
				padding: 5px;
				width: 57%;
				color: #545454;
				float:none;
				border-radius: 5px 5px 0px 0px;
			}
			.box-form .datepicker, form .datepicker {
				position: absolute;
				background: image-url('ico-table.gif') no-repeat;
				width: 18px;
				height: 20px;
				text-indent: -9999px;
				overflow: hidden;
			}
			.box-form {
				overflow: hidden;
				//background: $color2;
				.box-form-tabset{
					margin: 0 0 0 1px;
					list-style:none;
					li {
						font-size: $font_size;
						line-height: 14px;
						font-weight: bold;
						display:inline-block;
						width:30% !important;	
						a{
							display: block;
							//background: image-url('tab-3-l.gif') no-repeat 0 -45px;
							text-align: center;
							height: 41px;
							overflow: hidden;
							text-decoration: none;
							color: #1480ee;
							width:100% !important;
							background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FCFCFC),color-stop(1, #EDEDED));
							background: -o-linear-gradient(bottom, #FCFCFC 0%, #EDEDED 100%);
							background: -moz-linear-gradient(bottom, #FCFCFC 0%, #EDEDED 100%);
							background: -webkit-linear-gradient(bottom, #FCFCFC 0%, #EDEDED 100%);
							background: -ms-linear-gradient(bottom, #FCFCFC 0%, #EDEDED 100%);
							background: linear-gradient(to bottom, #FCFCFC 0%, #EDEDED 100%);
							border-radius: 5px 5px 0px 0px;							
						}
					}
					li.active {
						z-index: 100;
						a {
							font-size: $font_active;
							//background-position: 0 0;
							color: #262626;
							background: $color2;
						}
					}
				}
				.box-form-tabset li:first-child span {
					padding: 9px 0 18px;
				}
				.box-form-tabset li.active:first-child span {
					padding: 10px 0 17px;
				}
				.box-form-tabset li.active span {
					//background-position: 100% 0;
				}
				.box-form-tabset a span {
					display: block;
					//background: image-url('tab-3-r.gif') no-repeat 100% -45px;
					padding: 15px 0 12px;
					cursor: pointer;
				}
				.box-form label.highlights img {
					position: relative;
					float: left;
					height: 26px;
				}
				.box-form.highlights{
					width:30%
				}
				.box-form-content {
					border: 1px solid #d7ccae;
					padding: 7px 14px 38px 15px;
					border-top: none;
					overflow: hidden;
					height: auto;
					font-size: $font_size;
					line-height: 27px;
					background: $color2;
					fieldset{
						@include fieldset;
					}
				}		
				.field {
					padding: 7px 0 11px;
					width: 100%;
					overflow: hidden;
					content:' ';
					display:block;
					border-bottom:2px solid #d0d0d0;
					
					.outtaHere {
						display:none;
					}
					.row,.date-input{
						width: 100%;
						overflow: hidden;
						margin-bottom: 3px;
					}
					label{
						font-weight: bold;
						width: 40%;
					}
					.row{
						
						.label-4{
							width:38%;
						}
						.tip {
							display: block;
							cursor: pointer;
							overflow: hidden;
						}
						.textArea{
							width:59%;
						}
						p{
							width:39%;
							float:left;
							
						}
						.info-link {
							position: relative;
							float: left;
							margin: 5px 5px 0 0;
							background: image-url('ico-info.gif') no-repeat;
							width: 17px;
							height: 17px;
							text-indent: -9999px;
						}
					
						.selectArea{
							position: relative;
							height: 27px;
							float: left;
							color: #545454;
							font-size: 12px;
							line-height: 27px;
							width:60% !important;
							border-radius: 5px 5px 0px 5px;
							background: #FFFFFF;
							.center {
								height: 27px;
								line-height: 27px;
								display: block;
								padding: 0 25px 0 6px;
							}
							a.selectButton {
								position: absolute;
								top: 0;
								right: 0;
								width: 100%;
								height: 100%;
								background: image-url('btn-select.gif') no-repeat 100% 0;
								width: 21px;
								height: 27px;
								
							}
						}
						/*.select-3{
							width:100% !important;
						}*/
						.half-col:first-child {
							margin: 0;
						}
						.half-col{
							width: 47% !important;
							margin: 0 0 0 5px;
						}
						.quarter-col{
							width: 30% !important;
							margin: 0 0 0 5px;
						}
						.radioArea, .radioAreaChecked {
							position: relative;
							float: left;
							width: 15px !important;
							height: 16px;
							background: image-url('radio.gif') no-repeat;
							overflow: hidden;
						}
						.radioAreaChecked {
							background-position: 0 -16px;
						}
						.checkboxArea, .checkboxAreaChecked {
							position: relative;
							float: left;
							width: 15px !important;
							height: 16px;
							background: image-url("check.gif") no-repeat;
							overflow: hidden;
						}
						.checkboxAreaChecked {
							background-position: 0 -16px;
						}
						.third-col label{
							width:28%;
						}
						.tooltip {
							width: 95% !important;
							height: auto;
							margin: 2%;
							z-index: 10001;
							background: #ffffff;
							color: #333;
							border: 1px solid #D7CCAE;
							font-size: $font_size;
							left:0px !important;
						}
						.tooltip h5 {
							background: #D7CCAE;
							color: #ffffff;
							padding: 2px 5px;
							margin: 0 0 5px 0;
							font-size: 12px;
						}
						.tooltip ul.contentlist {
							list-style-type: circle;
							margin: 0 0 0 20px;
							padding: 5px;
						}
						.tooltip ul.contentlist li {
							list-style-type: circle;
							margin: 0 0 5px 0;
						}
						.tooltip ul li {
							padding: 2px 5px;
						}
						.tooltip p {
							padding: 0 5px;
							float:none;
							width:auto;
							-webkit-margin-before: 0em;
						}
						.tooltip ul.ermlist, .tooltip ul.ermlist1 {
							margin: 0 0 0 5px;
							padding: 5px;
						}
						.tooltip ul.ermlist1 li span {
							position: relative;
							float: left;
							width: 150px;
							display: block;
							height: 100%;
						}
						.tooltip ul.ermlist li span {
							position: relative;
							float: left;
							width: 20px;
							display: block;
							height: 100%;
						}
						.tooltip ul.ermlist li p {
							position: relative;
							width: 80%;
							display: block;
						}
					}
					
				}
				.field:last-child {
					border: none;
				}
				
				
			}
		}
		/**Ramesh code starts **/
			#hmDiv{
				background: #ffffff;
				margin: 3% auto;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				#c12420{
					padding:1%;
					.top-block{
						margin: 1% auto;
						padding: 1%;
						h2{
							margin-top: 1%;
							margin-bottom:1%;
							//font-size: $h2-font-size;
							//line-height: 16px;
							font-size: 100%;
							line-height: 150%;
							color: $color5;
							font-weight: bold;
						}
						ul{
							//margin: 0 0 23px;
							padding: 0;
							overflow: hidden;
							li{
								position: relative;
								float: left;
								width: 100%;
								//line-height: 26px;
								//font-size: 1.3em;
								font-size: 100%;
								line-height: 200%;
								overflow: hidden;
								strong{
									span{
										font-weight:normal;
										color: $color5;
									}
								}
								a{
									float:right;
									position: relative;
									font-weight: bold;
									//font-size:1.3em;
									font-size:100%;
									text-decoration: underline;
									color: $color4;
								}
								#hrdottedLine{
									height: 1px;
									background: image-url("bg-dotted.gif");
									width:100%;
									//padding-top:3px;
									//padding-bottom:3px;									
								}
							}
						}
					}
				}
				#c12316{
					padding:1%;
					.links-block{
						overflow: hidden;
						width: 100%;
						margin: 1% auto;
						padding: 1%;
						.bodytext{
							font:inherit;
							//font-size:$h2-font-size;
							font-size:100%;
							color: $color5 !important;
							b{
								font-weight:bold;
							}
						}
						ul.contentlist{
							padding:0;
							li{
								//padding: 0 0 0 20px;
								padding: 0 0 0 7%;
								background: image-url("ico-star.gif") no-repeat 0 7px;
								//line-height: 25px;
								//font-size: 1.3em;
								line-height: 25px;
								font-size: 100%;
								color: $color5 !important;
							}
						}
						p.bodytext{
							//font: normal normal 400 14px /20px "PT Sans";
							font:inherit;
							color: $color5 !important;
							a.btn{
								margin-left: 10%;
								margin-right: 30%;
								position: relative;
								z-index: 100;
								display: block;
								font-size: 100%;
								//line-height: 24px;
								line-height:150%;
								color: $color5;
								text-align: center;
								font-weight: bold;
								cursor: pointer;
								padding: 0 3px 0 0;
								background: image-url("btn-3-r.gif") no-repeat 100% 0;
								text-decoration: none;
							}
							a.btn:hover{
								//background: image-url("btn-3-r-hover.gif") no-repeat 100% 0;
								//display:block;
							}
							a.btn span{
									display: block;
									background: image-url("btn-3-l.gif") no-repeat;
									padding: 5px 0 5px 3px;
									cursor: pointer;
							}
							a.btn:hover span{
								//background: image-url("btn-3-l-hover.gif") no-repeat;
								//display:block;
							}
							
						}
					}
				}
				#hrLine{
					background: #c4c4c4;
					height: 1px;
				}
			}
			/**Ramesh code ends **/
		#hmContentDiv{
				background: #ffffff;
				margin: 3% auto;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			#c12137{
				margin:1%;
				padding:1%;
				display:block;
				.content-posts
				{	
					display:inline-block;
					margin-top:1%;
					padding-top:1%;
					margin-bottom:1%;
					padding-bottom:1%;
					.col{
						position: relative;
						float: left;
						vertical-align: bottom;
						.red
						{
							overflow: hidden;
							margin-bottom:1%;
							margin-top:1%;
							position: relative;
							float: left;
							width:40%;
							a{
								text-decoration: underline;
								color: #1480ee;
								outline: 0 none;
								img{
									display: block;
									width:100%;
								}
							}
							strong.caption{
								position: absolute;
								padding: 4px 10px;
								bottom: 18px;
								//width: 128px;
								width:100%;
								//font-size: 12px;
								//line-height: 16px;
								font-size: 85%;
								line-height: 120%;
								color: #fff;
								font-weight: bold;
								background: image-url("page-sprite.png") 0 1px;
							}
						}
						#mFamContent{
							float: right;
							width: 59%;
							margin-top:1%;
						}
						.green
						{
							overflow: hidden;
							margin-bottom:1%;
							margin-top:1%;
							position: relative;
							float: left;
							width:40%;
							a{
								text-decoration: underline;
								color: #1480ee;
								outline: 0 none;
								img{
									display: block;
									width:100%;
								}
							}
							strong.caption{
								position: absolute;
								padding: 4px 10px;
								bottom: 18px;
								//width: 128px;
								width:100%;
								//font-size: 12px;
								//line-height: 16px;
								font-size: 85%;
								line-height: 120%;
								color: #fff;
								font-weight: bold;
								background: image-url("page-sprite.png") 0 -44px;
							}
						}
						#mEntertainment{
							float: right;
							width: 59%;
							margin-top:1%;
						}
						.blue
						{
							overflow: hidden;
							margin-bottom:1%;
							margin-top:1%;
							position: relative;
							float: left;
							width:40%;
							a{
								text-decoration: underline;
								color: #1480ee;
								outline: 0 none;
								img{
									display: block;
									width:100%;
								}
							}
							strong.caption{
								position: absolute;
								padding: 4px 10px;
								bottom: 18px;
								//width: 128px;
								width:100%;
								//font-size: 12px;
								//line-height: 16px;
								font-size: 85%;
								line-height: 120%;
								color: #fff;
								font-weight: bold;
								background: image-url("page-sprite.png") 0 -90px;
								
							}
						}
						#mSport{
							float:right;
							width:59%;
							margin-top:1%;
						}
						.brown
						{
							overflow: hidden;
							margin-bottom:1%;
							margin-top:1%;
							position: relative;
							float: left;
							width:40%;
							a{
								text-decoration: underline;
								color: #1480ee;
								outline: 0 none;
								img{
									display: block;
									width:100%;
								}
							}
							strong.caption{
								position: absolute;
								padding: 4px 10px;
								bottom: 18px;
								//width: 128px;
								width:100%;
								//font-size: 12px;
								//line-height: 16px;
								font-size: 85%;
								line-height: 120%;
								color: #fff;
								font-weight: bold;
								background: image-url("page-sprite.png") 0 -135px;
							}
						}
						#mChillax{
							float:right;
							width:59%;
							margin-top:1%;
						}
					}
				}
			}
		}
		
		#mDivText{
			p{
				display:inline-block;
				margin:0;
				padding:0 !important;
				font: inherit;
				//font-size: 0.8em;
				font-size: 85%;
				line-height: 130%;
				color: #545454;
				//line-height:1.5em;
			}
		}
		#mDivAnchor{
			position:relative;
			a.btn-more{
				display: block;
				position: absolute;
				top:5%;
				bottom: 0;
				//margin:2%;
				margin-top:1%;
				
				height: 28px;
				background: image-url("btn-2-r.gif") no-repeat 100% 0;
				padding: 0 4px 0 0;
				//font-size: 1.0em;
				//line-height: 16px;
				font-size:100%;
				line-height:100%;
				color: #515151;
				text-decoration: none;
				span{
					position: relative;
					float: left;
					width: auto;
					padding: 6px 9px 6px 13px;
					background: image-url("btn-2-l.gif") no-repeat;
					cursor: pointer;
				}
			}
			a.btn-more:hover {
				background: image-url("btn-2-r-hover.gif") no-repeat 100% 0;
				color: #1480ee;
				span {
					background: image-url("btn-2-l-hover.gif") no-repeat;
				}
			}
		}
		/**Ramesh code ends **/
	}
	input[type="submit"]{
		@include button()
	}
}
// hiding all  the content used in tool tip date picker etc.
.tooltip{
	display:none;
}
#ui-datepicker-div{
	display:none;
}
.optionsDivInvisible {
display: none;
}
.optionsDivInvisible, .optionsDivVisible {
	position: absolute;
	background-color: #fff;
	border: 1px solid #cbcbcb;
	z-index: 1100;
	font-size: 11px;
	ul{
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
	}
}
.optionsDivVisible a {
	color: #6d6d6d;
	overflow: hidden;
	text-decoration: none;
	display: block;
	height: 1%;
	padding: 2px;
}
.optionsDivScroll ul {
	height: 205px;
	overflow: auto !important;
}
/*#optionsDiv2,#optionsDiv3,#optionsDiv4,#optionsDiv5,#optionsDiv6,#optionsDiv7,#optionsDiv8,#optionsDiv9{
	display:none;
}*/