body{
	background:$background1;
	font:1.2em /1.5em 'PT Sans', sans-serif;
	overflow-x:hidden;
	#ui-datepicker-div {
		z-index: 9999 !important;
	}
	ol,ul{
		list-style:none;
	}
	ul{
		-webkit-padding-start: 0px;
	}
	a{
		color:$color4;
	}
	fieldset{
		@include fieldset;
	}
}
// Styles for 360 view in club details page
	@-ms-viewport { width: device-width; }
	@media only screen and (min-device-width: 800px) { html { overflow:hidden; } }
	html { height:100%; }
	body { height:100%; overflow:hidden; margin:0; padding:0;}

	