$sprites-url: url("/_moovweb_local_assets_/images/sprites.png");

$sprites-width: 119px;
$sprites-height: 168px;

$sprites-language-select-x: 0px;
$sprites-language-select-y: 0px;
$sprites-language-select-width: 58px;
$sprites-language-select-height: 21px;

$sprites-list-x: 0px;
$sprites-list-y: -22px;
$sprites-list-width: 16px;
$sprites-list-height: 16px;

$sprites-menu-x: 0px;
$sprites-menu-y: -39px;
$sprites-menu-width: 60px;
$sprites-menu-height: 33px;

$sprites-menu_go-x: 0px;
$sprites-menu_go-y: -73px;
$sprites-menu_go-width: 9px;
$sprites-menu_go-height: 13px;

$sprites-minus-x: 0px;
$sprites-minus-y: -87px;
$sprites-minus-width: 13px;
$sprites-minus-height: 13px;

$sprites-plus-x: 0px;
$sprites-plus-y: -101px;
$sprites-plus-width: 13px;
$sprites-plus-height: 13px;

$sprites-tui-logo-x: 0px;
$sprites-tui-logo-y: -115px;
$sprites-tui-logo-width: 119px;
$sprites-tui-logo-height: 53px;

@mixin sprites-language-select() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 58px;
  height: 21px;
}

@mixin sprites-list() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -22px;
  width: 16px;
  height: 16px;
}

@mixin sprites-menu() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -39px;
  width: 60px;
  height: 33px;
}

@mixin sprites-menu_go() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -73px;
  width: 9px;
  height: 13px;
}

@mixin sprites-minus() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -87px;
  width: 13px;
  height: 13px;
}

@mixin sprites-plus() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -101px;
  width: 13px;
  height: 13px;
}

@mixin sprites-tui-logo() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -115px;
  width: 119px;
  height: 53px;
}

.sprites-language-select {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 58px;
  height: 21px;
}

.sprites-list {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -22px;
  width: 16px;
  height: 16px;
}

.sprites-menu {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -39px;
  width: 60px;
  height: 33px;
}

.sprites-menu_go {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -73px;
  width: 9px;
  height: 13px;
}

.sprites-minus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -87px;
  width: 13px;
  height: 13px;
}

.sprites-plus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -101px;
  width: 13px;
  height: 13px;
}

.sprites-tui-logo {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -115px;
  width: 119px;
  height: 53px;
}
