
//color variable

$color1 : #8cd6f1; //background -color
$color2 : #f4e9d5; // background-color for the main search form 
$anchor-tag-color:#1480ee;
$font-color: #262626;

//font-size
$font_size:12px;
$font_active:$font_size+4px;
$date_font:12px;


//header sizes
$h1_size  : $font_size+9px;
$h2_size  : $font_size+6px;
$h2-font-size:1.5em;  

//background
$background1 : #8cd6f1;

