
//color variable

$color1 : #8cd6f1; //sky-blue
$color2 : #f4e9d5; // light brown
$color3:  #ffffff; // white 
$color4:  #1480ee; //dark-blue
$color5:  #262626; // black
$color6:  #545454; // body font color (grey shade)

//font-size
$font_size:12px;
$font_active:$font_size+4px;
$date_font:12px;


//header sizes
$h1_size  : $font_size+9px;
$h2_size  : $font_size+6px;
$h2-font-size:1.5em;  

//background
$background1 : #8cd6f1;

